/* App.css */
body {
    margin: 0; /* Supprimer la marge par défaut du corps */
    background-color: #F2FBFE; /* Arrière-plan de toute la page */
  }
  
 
  
  /* App.css */
body {
    margin: 0; /* Supprime les marges par défaut du corps */
    padding: 0; /* Supprime les paddings par défaut du corps */
  }
  
  